<nav>
  <LinkTo @route="index">Back</LinkTo>
</nav>
<h1>People near you</h1>
<p>See people within 50 meters who are also "single and ready to mingle"</p>
<div class="buttons">
  <button>I'm ready to mingle</button>
  <button>Yes, broadcast my location</button>
</div>
<div class="map">
  <p>map</p>
</div>
<ul class="people">
  <li>
    <p>1 :fire:</p>
    <button>Ping</button>
  </li>
  <li>
    <p>2 :rope:</p>
    <button>Ping</button>
  </li>
  <li>
    <p>3 :lolly:</p>
    <button>Ping</button>
  </li>
</ul>