<h1>Create a profile</h1>

<InputEmoji @user={{user}} />

<InputImage @user={{user}} />

<button {{on "click" (fn this.create user)}}>{{if create.isRunning 'Creating...' 'Create'}}</button>

{{#if loading}}
  <LoadSpinner @icon="cup" />
{{/if}}
