<nav>
  <LinkTo @route="index">Back</LinkTo>
</nav>

<h1>User profile</h1>
<p>your id: {{user.id}}</p>
<p>Emoji: {{user.emoji}}</p>
<img src={{user.image}} alt="">

{{!-- in the short term we only share when you're at the first location --}}
<p>location sharing settings</p>

<p>verify with facebook</p>
<p>verify with mobile</p>
<p>leave feedback</p>

<button {{on "click" (fn this.delete user)}}>delete</button>
