<nav>
  <LinkTo @route="index">Back</LinkTo>
</nav>

<h1>User profile</h1>

<p>Emoji: {{user.emoji}}</p>
<p>Image: {{user.image}}</p>


{{!-- any time --}}
<p>edit filters</p>

{{!-- once per day --}}
<p>edit groups</p>

{{!-- in the short term we only share when you're at the first location --}}
<p>location sharing settings</p>

<p>verify with instagram</p>
<p>verify with facebook</p>
<p>verify with mobile</p>
<p>verify with payment</p>
<p>leave feedback</p>

<button {{on "click" (fn this.delete user)}}>delete</button>
