ul#nearby-list {
  margin-top: 20px;
  width: 200px;
  li {
    background: #eee;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    & + li {
      margin-top: 5px;
    }
    p {
      margin: 0;
    }
  }
}
