<div class="outer-limit">
    {{#if rawImage}}
      <InputImage::Resizer>
        <img
          src={{rawImage}}
          alt=""
          >
      </InputImage::Resizer>
    {{else}}
      <Input
        type="file"
        accept="image/*"
        {{on "change" (fn this.uploadImage)}}
      />
    {{/if}}

    <div id="cropper" />
</div>

{{#if rawImage}}
  <button {{on "click" (fn this.clearImage user)}}>Clear image</button>
{{/if}}
