{{#if user.image}}
  <img src={{user.image}} alt="">
  <button {{on "click" (fn this.clearImage user)}}>Clear image</button>
{{else}}
  <Input
    type="file"
    accept="image/*"
    {{on "change" (fn this.uploadImage)}}
  />
{{/if}}
