#app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
  min-height: 100vh;
  margin: auto;
  background: white;
}

body {
  background: #888;
}
