$rubik-light: "Rubik-Regular", sans-serif;
$rubik-regular: "Rubik-Regular", sans-serif;
$rubik-medium: "Rubik-Medium", sans-serif;
$rubik-bold: "Rubik-Bold", sans-serif;
$rubik-bold: "Rubik-Black", sans-serif;
